<style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }
        header {
            background: #4CAF50;
            color: white;
            padding: 20px 10px;
            text-align: center;
        }
        section {
            padding: 20px;
            margin: 20px;
            background: white;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }
        h2 {
            color: #E1AD01;
        }
		h1 {
            color: #00FFFF;
        }
				h3 {
            color: #FFA500;
        }
		
        pre {
            background: #eee;
            padding: 10px;
            border-radius: 5px;
            overflow-x: auto;
        }
        code {
            color: #d6336c;
        }
        footer {
            text-align: center;
            margin-top: 20px;
            padding: 10px;
            background: #4CAF50;
            color: black;
        }
    </style>